<h1>Article listing page</h1>

<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>Description</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td>Placeholder</td>
    </tr>
  <% end %>
  </tbody>
</table>
